<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand"><img src="../../../assets/img/logo.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#chi-siamo">Chi siamo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#blog">Guide e consigli</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Case vacanze
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Appartamenti</a></li>
            <li><a class="dropdown-item" href="#">Hotel</a></li>
            <li><a class="dropdown-item" href="#">Campeggi</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav nav-social">
        <li><a href="#" target="_blank"></a><i class="fa fa-facebook" aria-hidden="true"></i></li>
        <li><a href="#" target="_blank"></a><i class="fa fa-instagram" aria-hidden="true"></i></li>
      </ul>
      <a href="#" class="btn btn-primary">Registrati</a>
    </div>
  </div>
</nav>
