<div class="container-fluid hero-section">
  <div class="hero-text">
    <h1>Trova la casa vacanze perfetta per te</h1>
    <h2>Disponiamo di diverse soluzioni per i tuoi viaggi</h2>
    <p>usa il form sotto e trova la tua casa</p>
  </div>
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, laboriosam facere vel iusto repudiandae recusandae veniam, minus impedit, voluptates sapiente nostrum obcaecati nam omnis atque excepturi unde. Ex, expedita? Ab?
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe recusandae molestiae accusamus porro temporibus ipsam repellat possimus quod error blanditiis. Vel sint optio dolores cum eius repellat corporis officia temporibus!
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, laboriosam facere vel iusto repudiandae recusandae veniam, minus impedit, voluptates sapiente nostrum obcaecati nam omnis atque excepturi unde. Ex, expedita? Ab?
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe recusandae molestiae accusamus porro temporibus ipsam repellat possimus quod error blanditiis. Vel sint optio dolores cum eius repellat corporis officia temporibus!
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, laboriosam facere vel iusto repudiandae recusandae veniam, minus impedit, voluptates sapiente nostrum obcaecati nam omnis atque excepturi unde. Ex, expedita? Ab?
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe recusandae molestiae accusamus porro temporibus ipsam repellat possimus quod error blanditiis. Vel sint optio dolores cum eius repellat corporis officia temporibus!
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, laboriosam facere vel iusto repudiandae recusandae veniam, minus impedit, voluptates sapiente nostrum obcaecati nam omnis atque excepturi unde. Ex, expedita? Ab?
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe recusandae molestiae accusamus porro temporibus ipsam repellat possimus quod error blanditiis. Vel sint optio dolores cum eius repellat corporis officia temporibus!
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, laboriosam facere vel iusto repudiandae recusandae veniam, minus impedit, voluptates sapiente nostrum obcaecati nam omnis atque excepturi unde. Ex, expedita? Ab?
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe recusandae molestiae accusamus porro temporibus ipsam repellat possimus quod error blanditiis. Vel sint optio dolores cum eius repellat corporis officia temporibus!
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, laboriosam facere vel iusto repudiandae recusandae veniam, minus impedit, voluptates sapiente nostrum obcaecati nam omnis atque excepturi unde. Ex, expedita? Ab?
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe recusandae molestiae accusamus porro temporibus ipsam repellat possimus quod error blanditiis. Vel sint optio dolores cum eius repellat corporis officia temporibus!
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, laboriosam facere vel iusto repudiandae recusandae veniam, minus impedit, voluptates sapiente nostrum obcaecati nam omnis atque excepturi unde. Ex, expedita? Ab?
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe recusandae molestiae accusamus porro temporibus ipsam repellat possimus quod error blanditiis. Vel sint optio dolores cum eius repellat corporis officia temporibus!
</div>
